PORT=3009
PUBLIC_URL=https://aurales.febsho.me
WS_PATH=/ws
ROOM_EMPTY_TTL_SECONDS=600
ROOM_INACTIVE_TTL_SECONDS=86400
RECONNECT_GRACE_SECONDS=120
CORS_ORIGIN=*
TRUST_PROXY=true
MAX_PARTICIPANTS=20
MAX_CHAT_LENGTH=500
RATE_LIMIT_ROOMS_PER_MINUTE=5
RATE_LIMIT_MESSAGES_PER_MINUTE=30
